.homepage {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
  }
  
  .homepage-header {
    background-color: #007bff;
    color: white;
    padding: 40px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .homepage-header h1 {
    font-size: 2.5em;
    margin: 0;
  }
  
  .homepage-header p {
    font-size: 1.2em;
    margin: 10px 0 20px;
  }
  
  .button-primary {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1em;
  }
  
  .button-primary:hover {
    background-color: #218838;
  }
  
  .features {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .feature {
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .feature-icon {
    font-size: 3em;
    color: #101c29;
    margin-bottom: 10px;
  }
  
  .feature h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .cta {
    margin-top: 40px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
  }
  
  .cta h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .cta p {
    font-size: 1.1em;
  }
  
  .button-secondary {
    background-color: #1f7de1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1em;
  }
  
  .button-secondary:hover {
    background-color: #0056b3;
  }
  
  .cta a {
    color: #007bff;
    text-decoration: none;
  }
  
  .cta a:hover {
    text-decoration: underline;
  }
  